*{
    margin: 0;
    text-align: center;

    background-image: linear-gradient(to right, pink, orange);
}



.heading2{
    padding-top: 15px;
}

img{
    height: 500px;
    width: 500px;
}
.heading3{
    margin: 0;
    text-align: justify;
}
